@model IEnumerable<Book>
  
<h2 class="text-strong">Book List</h2>

<table class="table border border-dark" style="background-color:#FFE0DC">
    <thead>
        <tr class="p-3 border-start-0 rounded-end" style="background-color:#FFE0DC">
            <th>Id</th>
            <th>Book Name</th>
            <th>Author</th>
            <th>Price</th>
            <th>Operations</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var book in Model)
        {
            <tr class=" p-3 border border-dark border-start-0 rounded-end" style="background-color:#FFE0DC ">
                <td>@book.Id</td>
                <td>@book.BookName</td>
                <td>@book.Author</td>  
                <td>@book.Price $</td>
                <td>
                <button type="button" class="btn btn-sm " style="background-color:#304753 " ><a  class="text-white" asp-controller="BookManagement" asp-action="Details" asp-route-id="@book.Id">Details</a> </button> 
                <button type="button" class="btn btn-sm " style="background-color:#346598 "> <a class="text-white" asp-controller="BookManagement" asp-action="Edit" asp-route-id="@book.Id">Edit</a> </button> 
                <button type="button" class="btn btn-sm " style="background-color:#8C4A3B "><a class="text-white" asp-controller="BookManagement" asp-action="Delete" asp-route-id="@book.Id">Delete</a> </button> 
                </td>
        
            </tr>
        }
    </tbody>
</table>

<a href="/BookManagement/Create" class="btn text-light" style="background-color:#834644" >Add Book</a>